.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0369a1;
  color: white;
  padding: 0.5rem 1rem;
}

.logo {
  font-size: 1.2rem;
  font-weight: 600;
}

.links a {
  margin-left: 1rem;
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.links .active {
  text-decoration: underline;
}
